@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(198, 195, 195);
    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a {
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 80vw;
}
.container{
    display: flex;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 23px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro h2{
    font-family: 'Courier New', Courier, monospace;
    margin:  12px;
}
.intro p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: brown;
    border-radius: 12px ;
    border: solid black;

}
.hundred{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.humburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}
.cross{
    margin-left: -25px;
    /* margin-top: px; */

}
