 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar{
    background-color: rgb(198, 195, 195);
    /* position: absolute; */
   /* ./ width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 101vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a {
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 80vw;
}
.infocontainer{
    /* background-color: rgb(255, 0, 170); */
    height: 58vh;
    width: 80vw;
    margin: 144px 0px;
    display: flex;
    justify-content: center;
}
.devinfo{
    width: 70%;
    height: 100%;
    display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0px 70px;
}

.infocontainer .devpic{
    width: 30%;
    height: 100%;
    
}
.devpic img{
    height: 58vh;
    margin: 0px 20px;
}
.hello{
font-size: 65px;
font-family: 'Courier New', Courier, monospace;
}
.name{
font-size: 50px;
font: bold;
font-family:inherit;
}
.about{
    font-size: 40px;
    font-family: cursive;
    margin: 20px 0px;
}
.moreabout{
    font-size: 27px;
    margin-top: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    margin: 34px;
}
.button button{
padding: 9px 14px;
border-radius: 22px;
color: white;
font-weight: bold;
font-size: 21px;
margin: 0 3px;
cursor: pointer;
background-color: deepskyblue;
}

.button button:hover{
  background-color: white;
  color: deepskyblue;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.humburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
    /* margin-left: 10px; */
}
.cross{
    margin-left: -68px;
    margin-top: -15%;
}

@media(max-width: 768px){
    .devpic {
        display: none;
    }
    /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}

